{% extends 'base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <section class="section main-page">
        <div class="container">
            <h2 class="section-title">Главная страница</h2>
            <div class="main-page-content content">
                {% if request.user.is_authenticated %}
                    <a class="main-page__link link" href="{{ request.user.blog.get_absolute_url }}">Мой блог</a>
                {% else %}
                    <a class="main-page__link link" href="{% url 'registration' %}">Регистрация</a>
                    <a class="main-page__link link" href="{% url 'login' %}">Вход</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}